%html
  %head
    %link{:href=>"http://feefighters.github.com/samurai-sinatra-demo/css/application.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
    %script{:src=>"https://samurai-app.feefighters.com/samurai/assets/api/samurai.js"}
    %script Samurai.init({debug: true, debugEasyXDM: true, merchant_key: '#{Samurai.options[:merchant_key]}'})
  %body
    .wrapper
      %h1 Samurai Demo
      %hr
      %article.span-5.samurai-placeholder{:data=>{'samurai-payment_form'=>true}, :style=>'min-height:393px'}
      %article.span-5.last
        %h3 Shopping Cart
        %p (1) Katana Sword: $111.11
        %hr
        %h3 Accepted Card Types:
        %table.flushleft
          %tr
            %th Valid:
            %td
              %code{:style=>"border:none;"} 4111111111111111
          %tr
            %th Denied:
            %td
              %code{:style=>"border:none;"} 4242424242424242
          %tr
            %td{:colspan=>'2'}
              %em All other card numbers will return an error.
      %hr
