<html>
  <head>
    <link href="http://samurai-app.feefighters.com/samurai/assets/application-916fd2c15c94ef6201e7bdcfdc61b3aa.css" media="screen" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <header id="banner" role="banner">
      <nav class="mainnav">
        <div class="wrapper">
          <h1 class="logo">
            <a href="/samurai" class="samurai"><span class="ir mark"></span><span class="ir home"></span><span class="ir type">Samurai</span></a>
            <span class="by">by</span>
            <a href="http://feefighters.com" class="ir feefighters">FeeFighters</a>
          </h1>
        </div>
      </nav>
    </header>

    <div class="wrapper">
      <article class="span-8 prepend-2">
        <h1>Samurai Demo</h1>
        <hr>
        <%= yield %>
      </article>
    </div>
  </body>
</html>