<!doctype html>
<html>
  <head>
    <link href="http://feefighters.github.com/samurai-sinatra-demo/application.css" media="screen" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="wrapper">
      <article class="span-8 prepend-2">
        <h1>Samurai Demo</h1>
        <hr>
        <%= yield %>
      </article>
    </div>
  </body>
</html>